body {
  background-color: #ffe4b5;
  color: black;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  background-color: rgb(74, 189, 74);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 1000px;
  margin: 0 auto;
}
h1 {
  color: purple;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  margin: 20px auto 0;
  width: 1000px;
}

main h2 {
  font-family: 'Arial';
  font-size: x-large;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.card a {
  display: block;
}

.card h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px;
}

.references ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.references li {
  margin-bottom: 10px;
}

main p {
  text-align: left;
}

.references li a {
  color: red;
  background-color: yellow;
}

.info p {
  line-height: 0.5;
}

.honesty p {
  white-space: pre-line;
  line-height: 1.5;
}

.honesty h2 {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.references h2 {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info h2 {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about h2 {
  color: blue;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

ul.reponsive > li {
  list-style-type: none;
  position: relative;
}

ul.reponsive > li:before {
  content: "➔";
  position: absolute; 
  left: -1.5em; 
}

.register ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.error {
  color: red;
}

#alert {
  color: green;
}

main.register {
  text-align: left; 
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  margin: 20px auto 0;
  width: 1000px;
}

main.register h2 {
  font-family: 'Arial';
  font-size: x-large;
}

form.register-form {
  list-style: none;
  padding: 0;
}

form.register-form li {
  margin-bottom: 10px;
}

#product_id, #product_desc,
#price, #username,#supplierEmail
 {
  width: 50%; 
  box-sizing: border-box;
  margin-bottom: 10px;
}

#errorSidePanel {
  position: fixed;
  top: 25%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  visibility: visible; 
  opacity: 1; 
  transition: opacity 0.3s;
}